<!-- <main>
    <app-header></app-header>
    <section class="title">
        <h1>Estructura de pagina</h1>
    </section>
    <section class="fondo bg">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, nostrum?</p>
    </section>
    <section class="cuerpo">
        <h2>Titulo 2</h2>
    </section> 
</main> -->
<main>
    <app-header></app-header>
    <section class="sec1"></section>
    <div class="contain"><p>1st Section</p></div>
    <section class="sec2"></section>
    <div class="contain"><p>2st Section</p></div>
    <section class="sec3"></section>
    <div class="contain"><p>3st Section</p></div>
    <section class="sec4"></section>
    <div class="contain"><p>4st Section</p></div>
</main>